/* body {
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
} */
body {
  min-height: 100%;
  max-width: 100%;
  background-color: papayawhip; 
  margin: 0 auto;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  flex-direction: column-reverse;
  min-height: 58vh;
}
.crousel{
  margin-bottom: -208px;
}
.container5{
  margin-bottom: -200px;
}
.cart{
  margin-bottom: -200px;
}
.top-nav{
  float:right;
}
